@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Fira+Code:wght@300&family=Inter:wght@300&family=JetBrains+Mono:wght@300&display=swap');
*{
  padding: 0;
 margin: 0;

}
body{
  background: rgb(82,78,80);
background: linear-gradient(291deg, rgba(82,78,80,1) 0%, rgba(26,27,38,1) 35%);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}


.homes li{
  padding: 20px;
  align-items: right;

}
.homes ul{
    display: flex;
  list-style: none;
  
 
}

.FIRST{
    background-color: #7aa2f7;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-family:'JetBrains Mono', monospace ;

  
    
}
a{ 
    color: white;
 } 
a:hover{
  color: rgb(79, 79, 176);
}
.name2{

  color: white;
font-size: 55px;
font-family: 'Inter', sans-serif;
   
}



.paga{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}
.bannerboro{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.btn{
  background-color: #7aa2f7;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;

}
.btn:hover{
   background-color:#628ce3 ;
}

.aboutusefull{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;

}


.abouttitle{
  font-size: 40px;
text-align: center;
padding-top: 20px;
color: white;

}
.info{
color: white;
margin: 10px;
font-size: 30PX;
font-family: 'Inter', sans-serif;
}

.image1:hover{
  opacity: 0.2;
}

.box{
  width: 250px;
  height: 280px;
  box-shadow: 4px 4px 15px rgb(111, 110, 110) ;
  background-color: #1a1b26;
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  border: none;
}


.icon{
  width: 60px;
}

.boxbtn {
  background-color: #7aa2f7;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px 40px; 
  border: none; 
  border-radius: 10px;
}


.boxtitle{
font-family: 'Inter', sans-serif;
padding: 10px;
}
.boxdes{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}


.full{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}